<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт удален</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
    <h2>Здравствуйте, <span th:text="${userName}">Пользователь</span>!</h2>
    <p>Ваш аккаунт был удалён.</p>
    <p>Если это произошло по ошибке, пожалуйста, свяжитесь с нашей поддержкой.</p>
    <p>Благодарим вас за время, проведенное с нами!</p>
    <p>С уважением,<br>Команда поддержки</p>
</div>
</body>
</html>